$purple-color: hsl(275, 86%, 17%);
$gray-color: rgb(128, 128, 128);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$green-color: rgb(13, 199, 79);
$red-color: rgb(255, 0, 0);
$blue-color: rgb(0, 0, 255);
$yellow-color: rgb(255, 255, 0);
$orange-color: rgb(255, 165, 0);
