@import './styles/mixins/padding.scss';

.container {
	@include Padding; //Mixin
	height: 150vh;
	padding-top: 100px;
	background-image: url('/images/fundoWelcome.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.text {
	h1 {
		font-weight: bold;
		font-size: 71px;
	}
	p {
		font-size: 30px;
		opacity: 0.7;
	}
}

.image {
	text-align: end;
}
